.precos {
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.precos-lista {
	display: flex;
	gap: 30px;
}

.precos-item {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFF00;
	padding: 30px 80px;
	height: 300px;
	background-color: #F8F8FF;
	border-radius: 5px;
}