.precos {
	background-color: #DCDCDC;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.precos-lista {
	display: flex;
	gap: 30px;
}

.precos-item {
	border-width: 1px;
	border-style: solid;
	border-color: #FFFF00;
	padding: 30px 80px;
	background-color: #F8F8FF;
	border-radius: 5px;
}

.plano-titulo {
	font-size: 30px;
	font-weight: bold;
	color: #696969;
}

.plano-preco {
	font-size: 24px;
	line-height: 70px;
	color: #32CD32;
}

.plano-beneficio-incluso, .plano-beneficio-nao-incluso {
	font-size: 18px;
}

.plano-beneficio-nao-incluso:before {
	content: "✖ ";
}

.plano-beneficio-incluso:before {
	content: "✔ ";
}