.imc {
	height: 1200px;
	display: flex;
	align-items: center;
}

.imc-formulario {
	display: flex;
	flex-direction: column;
	padding: 0 30px;	
}

.imc-texto {
	font-size: 20px;
	line-height: 50px;
}

.imc-entrada {
	width: 40%;
	padding: 10px 15px;
}

.imc-imagem {
	height: 400px;
	width: 40%;
	position: relative;
	bottom: 230px;
}

#botao {
	width: 35%;
	padding: 10px 0;
	margin: 30px 0;
}

#resposta {
	margin-bottom: 10px;
}

.mensagem-erro {
	color: #FF0000;
	line-height: 40px;
}

.tabela, .coluna, .coluna-cabecalho, .linha-cabecalho, .linha {
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	padding: 8px;
	width: 50%;
	text-align: center;
}

.linha-cabecalho {
	background-color: #FFFF00;
}