.banner {
	height: 300px;
	background-image: url("../imagens/banner.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.banner-titulo {
	font-size: 60px;
	color: #FFFFFF;
}

.banner-subtitulo {
	font-size: 20px;
	color: #FFFFFF;
	font-style: italic;
	line-height: 60px;
}

.subtitulo:before {
	content: '"';
}

.subtitulo:after {
	content: '"';
}

.sobre {
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
}

.sobre-titulo {
	font-size: 60px;
}

.sobre-texto {
	font-size: 25px;
}

.sobre-imagem {
	width: 30%;
}

.servicos-lista {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.servicos-item {
	width: 20%;
	border-width: 2px;
	border-color: #FFFF00;
	border-style: solid;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #F8F8FF;
}

.servicos-texto {
	text-align: center;
	margin-bottom: 20px;
}